<section id="duong-dan">
    <div class="container">
        <a href="/">
            <span>Trang chủ</span>
        </a>
        <span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
        <a href="/shop">
            <span>Sản phẩm</span>
        </a>
    </div>
</section>

<section id="shop-list">
    <div class="container">
        <!-- BỘ LỌC -->
        <div class="category">

            <!-- GIÁ -->
            <div class="category-box">
                <h2 class="text-uppercase">Giá</h2>
                <div class="list-choice">
                    <div class="item-choice">
                        <input id="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                        <span class="checkmark"></span>
                        <label class="choice" for="Field5_0">0 - 200.000đ</label>
                    </div>
                    <div class="item-choice">
                        <input id="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                        <span class="checkmark"></span>
                        <label class="choice" for="Field5_1">200.000đ - 500.000đ</label>
                    </div>
                    <div class="item-choice">
                        <input id="Field5_2" name="Field5" type="radio" value="Third Choice" tabindex="7">
                        <span class="checkmark"></span>
                        <label class="choice" for="Field5_2">500.000đ - 1.000.000đ</label>
                    </div>
                    <div class="item-choice">
                        <input id="Field5_3" name="Field5" type="radio" value="Four Choice" tabindex="8">
                        <span class="checkmark"></span>
                        <label class="choice" for="Field5_3">1.000.000đ - 2.000.000đ</label>
                    </div>
                    <div class="item-choice">
                        <input id="Field5_4" name="Field5" type="radio" value="Five Choice" tabindex="9">
                        <span class="checkmark"></span>
                        <label class="choice" for="Field5_4"><i class="fa fa-angle-right" aria-hidden="true"></i>
                            5.000.000đ </label>
                    </div>
                </div>
            </div>

            <!-- MÀU SẮC -->
            <div class="category-box">
                <h2 class="text-uppercase">Màu sắc</h2>
                <div class="box-color">
                    <div class="row">
                        <div class="color-type">
                            <span class="bg-color bg-color-green"></span>
                            <span>Xanh</span>
                        </div>
                        <div class="color-type">
                            <span class="bg-color bg-color-white"></span>
                            <span>Trắng</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="color-type">
                            <span class="bg-color bg-color-yellow"></span>
                            <span>Vàng</span>
                        </div>
                        <div class="color-type">
                            <span class="bg-color bg-color-violet"></span>
                            <span>Tím</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SIZE -->
            <div class="category-box">
                <h2 class="text-uppercase">Size</h2>
                <div class="list-checkbox">
                    <div class="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlValidation1">
                            <label class="custom-control-label" for="customControlValidation1">M</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlValidation2">
                            <label class="custom-control-label" for="customControlValidation2">L</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlValidation3">
                            <label class="custom-control-label" for="customControlValidation3">XL</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- HÌNH THỨC -->
            <div class="category-box">
                <h2 class="text-uppercase">Hình thức</h2>
                <div class="list-choice">
                    <div class="item-choice">
                        <input id="km" name="Field5" type="radio" value="First Choice" tabindex="5">
                        <span class="checkmark"></span>
                        <label class="choice" for="km">Hàng khuyến mại</label>
                    </div>
                    <div class="item-choice">
                        <input id="new" name="Field5" type="radio" value="Second Choice" tabindex="6">
                        <span class="checkmark"></span>
                        <label class="choice" for="new">Hàng mới về</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- DANH MỤC SẢN PHẨM -->
        <div class="shop-list-product">
            <div class="sort-box">
                <div class="type-see">
                    <a href="./shop-list.html">
                        <span>
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="./shop-list2.html">
                        <span>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>

                <select class="classic">
                    <option>----Sắp xếp----</option>
                    <option>Theo giá tăng dần</option>
                    <option>Theo giá giảm dần</option>
                    <option>Giảm giá nhiều</option>
                    <option>Đánh giá nhiều nhất</option>
                    <option>Được mua nhiều nhất</option>
                </select>
            </div>

            <!-- Danh sach san pham -->
            <div class="list-products">
                <div class="row">
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 1.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 2.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 3.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 1.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 2.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 3.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 1.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 2.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="img-product">
                            <img src="/resources/images/ao thun 3.png">
                            <div class="link-product d-flex justify-content-around align-items-center">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="decript-product">
                            <span class="name-product color-text-main font-16 d-block">
                                Áo thun nam trơn túi ngực
                            </span>
                            <span class="price-product d-block">
                                230.000đ
                            </span>
                        </div>
                    </div>
                </div>

                <!-- PHÂN TRANG -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</section>

<style>
/* section {
	width: 1185px;
    margin: auto;
} */
#shop-list {
    margin-top: 60px;
    margin-bottom: 60px; 
}

.row {
    margin-left: 0;
    margin-right: 0;
}
/* ------------BỘ LỌC--------------- */
.category {
    width: 26%;
    float: left;
    border: 1px solid #C5B291;
    padding: 20px;
}
.category-box {
    margin-bottom: 40px;
}
.category-box h2{
    font-size: 20px;
    border-bottom: 1px solid #C5B291;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* ------------Mau sac--------------- */
.color-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
span.bg-color {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.bg-color-green {
    background: #57AF8A;
}
.bg-color-white {
    border: 1px solid #aaa;
    background: #FFF;
}
.bg-color-yellow {
    background: #FFBF35;
}
.bg-color-violet {
    background: #9951C6;
}
.box-color .row {
    margin-bottom: 20px;
}

/* ------------Size--------------- */
.list-checkbox .row {
    margin-bottom: 10px;
}
.list-checkbox .row .custom-control{
    margin-right: 30px;
}
/* ------------Option--------------- */
.list-choice .item-choice {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    position: relative;
}
.list-choice .item-choice input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
label.choice {
    margin-left: 30px !important;
}
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
.list-choice .item-choice input ~ .checkmark {
    background-color: #ccc;
}
.list-choice .item-choice input:checked ~ .checkmark {
    background-color: #57AF8A;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.list-choice .item-choice input:checked ~ .checkmark:after {
    display: block;
}
.item-choice .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

/* ------------checkbox--------------- */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #57AF8A;
    background-color: #57AF8A;
}


/* -------------DANH MỤC SẢN PHẨM---------- */
.shop-list-product {
    width: 72%;
    float: right;
}
.sort-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C5B291;
}
.sort-box .type-see {
    margin-left: 42px;
}
.sort-box .type-see span{
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
/* -------sắp xếp--------- */
select {

    /* styling */
    background-color: white;
    border: 1px solid #C5B291;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    width: 201px;
    height: 33px;
    line-height: 33px;
    padding-left: 5px;
    
    /* reset */
  
    margin: 0;      
    margin-right: 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(to right, #57AF8A, #57AF8A);
    /* background: #57AF8A; */
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }


/* -------------danh sach san pham----------- */
.list-products .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

/* -------------------Phân trang------------------------- */
.page-link {
    color: #57AF8A;
    border: 1px solid #57AF8A;
}
.page-link:hover, .page-link.active{
    color: #ffffff;
    background: #57AF8A;
    border: 1px solid #57AF8A;
}
</style>