{{define "footer"}}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h2 class="text-uppercase color-text-main">Về carpo</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Thông tin về Carpo</a>
                    </li>
                    <li>
                        <a href="#">Quá trình phát triển</a>
                    </li>
                    <li>
                        <a href="#">Hệ thống cửa hàng</a>
                    </li>
                    <li>
                        <a href="#">Tuyển dụng</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h2 class="text-uppercase color-text-main">Hỗ trợ mua hàng</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Hướng dẫn mua hàng</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn thanh toán</a>
                    </li>
                    <li>
                        <a href="#">Phương thức vận chuyển</a>
                    </li>
                    <li>
                        <a href="#">Tra cứu đơn hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h2 class="text-uppercase color-text-main">Chính sách khách hàng</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Khách hàng VIP</a>
                    </li>
                    <li>
                        <a href="#">Khách hàng thanh toán</a>
                    </li>
                    <li>
                        <a href="#">Chính sách đổi trả</a>
                    </li>
                    <li>
                        <a href="#">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h2 class="text-uppercase color-text-main">Đăng ký nhận thông tin</h2>
                <div class="register-email border-main">
                    <input type="text" name="timkiem" placeholder="Email của bạn" class="border-none">
                    <button type="submit" class="btn-register-email bg-green text-white text-uppercase font-14">Đăng
                        ký</button>
                </div>
                <div class="follow">
                    <span class="font-14">Theo dõi chúng tôi qua</span>
                    <div class="icon-follow d-inline-block">
                        <span class="facebook">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </span>
                        <span class="youtube">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </span>
                        <span class="twitter">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</footer>
{{end}}